body {
  background-color: #EBECED;
  font-size: 16px;
  line-height: 1rem;
  margin: 0;
}


/* Text style */
.slab {
  font-family: "Roboto Slab", sans-serif;
}

.sans {
  font-family: "Muli", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4rem;
}

/* UI patterns */
button {
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 4rem;
  border: 2px solid #30cfac;
  color: #30cfac;
  border-radius: 1rem;
  font-family: "Roboto Slab", sans-serif;
}

/* Header */
header {
  background-color: #fff;
  height: 4rem;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  z-index: 1000;
}

header .container .tagline {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #b6c4ce;
}

header .container .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .container .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #757e84;
}

header .container .nav ul li:hover {
  color: #30cfac;
}

header .container .nav ul {
  list-style: none;
  display: inline-flex;
}

header .container .nav ul li {
  margin-left: 1rem;
}

/* Page title */
.title {
  text-align: center;
  min-height: 4rem;
}

.title h1 {
  margin-top: 0;
  padding-top: 2rem;
  line-height: 4rem;
}

/* Desktop */
@media only screen and (min-width: 941px) {
  .container {
    max-width: 75rem;
    background-color: #FFF9E1;
    height: 100%;
    margin: 0 auto;
  }

  /* Grid system */
  .col-10-4 {
      width: 40%;
      height: 100%;
      background-color: #FFE8E8;
  }

  .col-10-2 {
      width: 20%;
      height: 100%;
      background-color: #FFDDDD;
  }

  /* Central area */
  .central-area {
    width: 70%;
    margin: 0 auto;
  }

  /* Header */
  header .container {
    display: flex;
    flex-direction: row;
  }

  header .container .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .container .logo img {
    width: 80%;
  }

  /* Main */
  main {
    position: relative;
    top: 4rem;
  }

  /* Page title */
  main .container .central-area p {
    text-align: left;
  }

  /* Large image */
  main .img-large {
    margin: 2rem auto;
    width: 60%;
  }

  main .img-large img {
    width: 100%;
  }

  main .button .central-area {
    display: flex;
    justify-content: center;
  }

}

/* Mobile */
@media only screen and (max-width: 940px) {
  .container {
    width: 100%;
    background-color: #FFF9E1;
    height: 100%;
    margin: 0 auto;
  }

  /* Text style */
  p {
    text-align: left;
  }

  /* Central area */
  .central-area {
    width: 85%;
    margin: 0 auto;
  }

  /* Header */
  header {
    height: 7rem;
  }

  header .container {
    display: flex;
    flex-direction: column-reverse;
  }

  header .container .nav {
    display: none;
  }

  header .container .logo {
    width: 100%;
    background-color: #FFDDDD;
  }

  header .container .logo img {
    height: 3rem;
  }

  header .container .tagline {
    width: 100%;
    background-color: #FFE8E8;
    justify-content: center;
    margin-top: -0.5rem;
    text-align: center;
  }

  /* Main */
  main {
    position: relative;
    top: 7rem;
  }

  /* Large image */
  main .img-large {
    margin: 1rem auto;
    width: 90%;
  }

  main .img-large img {
    width: 100%;
  }

  /* Button */
  main .button .central-area {
    display: flex;
    justify-content: center;
  }

}









































/* 空出来的格子 */
